<div class="row text-center">
  <h1>Latest Shots</h1>
</div>

<div class="row">
<% @shots.each do 
  |shot| %>
<h2>
  <%= link_to shot.needed_by.strftime("%d %b. %Y"), shot_path(shot) %>
</h2>
  <div>
    
    <div class="well">
      <%= shot.speak %>
    </div>

    <label class="label"><i class="icon icon-white icon-flag"></i> <%= shot.location %></label>
    
    <div> 
      <h4>
        via <%= link_to shot.user.name, user_path(shot.user) %> 
        <%= mail_to "<span class='label'><i class='icon icon-envelope icon-white' ></i></span> #{shot.user.email}".html_safe %>
        <%= link_to "<i class='icon icon-twitter' ></i> @#{shot.user.twitter}".html_safe, "http://twitter.com/#{shot.user.twitter}" %>
      </h4>
    </div>

    <div class="pull-right row">
      <span><%= link_to 'Show', shot %></span> |
      <span><%= link_to 'Edit', edit_shot_path(shot) %></span> |
      <span><%= link_to 'delete', shot, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  
  </div>
  <br />
    <hr />
  <br />
<% end %>
</div>

