
<p class="label">
  <%= @shot.location %>
</p>

<p>
  <b>Needed by:</b>
  <%= @shot.needed_by.strftime("%d %b. %Y") %>
</p>

<p class="well">
  <%= @shot.speak %>
</p>

<p>
  <b>via:</b>
  <%#		= link_to @shot.user.name, user_path(@shot.user) %>
</p>


<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
